.vertical.carousel .carousel-control {
  bottom: auto;
  width: 100%;
  height: 15%;
  background: none;
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%); */
}
.vertical.carousel .carousel-control.right {
  top: auto;
  bottom: 0;
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); */
}
.vertical.carousel .carousel-control .glyphicon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical.carousel .carousel-indicators {
  bottom: auto;
  top: 50%;
  left: auto;
  right: 1.5em;
  width: 14px;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.vertical.carousel .carousel-inner > .item {
  left: 0;
  top: 0;
}
.vertical.carousel .carousel-inner > .item > img {
  width: 100%;
}
.vertical.carousel .carousel-inner > .item.next,
.vertical.carousel .carousel-inner > .item.active.right {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  top: 0;
}
.vertical.carousel .carousel-inner > .item.prev,
.vertical.carousel .carousel-inner > .item.active.left {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  top: 0;
}
.vertical.carousel .carousel-inner > .item.next.left,
.vertical.carousel .carousel-inner > .item.prev.right,
.vertical.carousel .carousel-inner > .item.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  top: 0;
}
.vertical.carousel .carousel-inner > .active,
.vertical.carousel .carousel-inner > .next.left,
.vertical.carousel .carousel-inner .prev.right {
  top: 0;
}
.vertical.carousel .carousel-inner > .next,
.vertical.carousel .carousel-inner > .active.right {
  top: 100%;
  left: 0;
}
.vertical.carousel .carousel-inner > .prev,
.vertical.carousel .carousel-inner > .active.left {
  top: -100%;
  left: 0;
}

/* --- MY CSS --- */
body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 2rem;
}

h1,
h2 {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.2rem;
}

h3 {
  text-align: center;
}

div.vertical.carousel {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 25px;
  height: 25px;
  margin: 0.3em 0;
  border-width: 3px;
}

span.glyphicon.glyphicon-chevron-right,
span.glyphicon.glyphicon-chevron-left {
  font-size: 4rem;
  position: absolute;
}

.introSlide {
  flex-direction: column;
  justify-content: center;
}

.introSlide h1 {
  width: 80%;
  padding: 0 10%;
  font-size: 8rem;
  text-align: center;
}

div.item.active,
div.item {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: white;
  /* filter: saturate(1.3); */
}

div.reverse {
  flex-direction: row-reverse;
}

div.reverse .rightSection,
div.reverse .mainImg {
  transform: translateX(-1.5em);
}

div.mainImg {
  max-width: 55%;
  padding: 0 2em;
}

div.mainImg img {
  width: 100%;
}

div.rightSection {
  display: flex;
  flex-direction: column;
  width: 40%;
  transform: translateX(-0.3em);
}

div.subImg {
  display: flex;
  flex-direction: row;
  width: 50%;
}

div.subImg img {
  width: 98%;
  margin: 0 1em 1em 0;
}

div.caption {
  padding: 0;
}

.caption h2 {
  font-size: 4rem;
}

.caption li {
  list-style: none;
  cursor: pointer;
}

.caption b {
  color: white;
  text-decoration: underline;
  font-size: 2.4rem;
  font-weight: 900;
  list-style: none;
}

.caption li::after {
  content: " \1F4CD";
  font-size: 3rem;
  position: absolute;
  transform: translate(0.2em, -0.1em);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.caption li:hover::after {
  content: " \1F4CD \27A4";
  font-size: 3.3rem;
  transform: translate(0.5em, -0.15em);
  text-decoration: none;
}

#mapboxSlide .caption li::after,
#mapboxSlide .caption li:hover::after {
  content: '';
}

#mapboxSlide .caption b::after {
  content: " \2B06";
  font-size: 2.3rem;
  position: absolute;
  transform: translate(0.2em, 0.1em);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#mapboxSlide .caption b:hover::after {
  content: " \2B06";
  font-size: 2.6rem;
  transform: translate(0.7em, -0.05em);
  text-decoration: none;
}


iframe.mapbox {
  padding: 0 2em 0 3em;
}





@media only screen and (max-width: 1024px) {

  h3 {
    width: 80%;
    padding: 0 10%;
  }
  
  .vertical.carousel .carousel-indicators {
    bottom: 0;
    top: 85%;
    right: auto;
    width: 98%;
    margin-bottom: 20%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  .carousel-indicators li,
  .carousel-indicators li.active {
    border-radius: 30%;
    margin: 0em 0.2em;
  }

  div.reverse .rightSection,
  div.reverse .mainImg {
    transform: translateX(0);
  }

  div.subImg img {
    margin: 0 1em 0 0;
  }

  .caption h2 {
    margin-bottom: -0.5em;
  }
}

@media only screen and (max-width: 768px) {

  div.item.active,
  div.item {
    flex-direction: column;
  }

  .mainImg {
    min-width: 80%;
    margin: 15% 0 0.5em;
  }

  .rightSection {
    min-width: 80%;
  }

  .subImg img {
    min-width: 50%;
  }


}